/*
  _   ___ ____              ____
 | | / (_) / /__ ____  ___ / / /__
 | |/ / / / / _ `/ _ \/ -_) / / -_)
 |___/_/_/_/\_,_/_//_/\__/_/_/\__/

 @Author: SeLiNnnn
 @Description: Normal stuff. A nice life. Cool flat. Fun job.
 @Date: 2021-05-19 00:08

*/

@import "src/styles/variables";

.potion-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;

  &-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;

    &:hover, &:focus {
      text-decoration: none;
    }

    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }

    &.is-active, &:hover {
        color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }

  &-vertical {
    flex-direction: column;
    border-bottom: 0px;
    border-right: $menu-border-width solid $menu-border-color;
    .potion-menu-item {
      border-left: $menu-item-active-border-width solid transparent;
      &.is-active, &:hover {
        border-bottom: 0px;
        border-left: $menu-item-active-border-width solid $menu-item-active-color;;
      }
    }
  }

}
