/*
  _   ___ ____              ____
 | | / (_) / /__ ____  ___ / / /__
 | |/ / / / / _ `/ _ \/ -_) / / -_)
 |___/_/_/_/\_,_/_//_/\__/_/_/\__/

 @Author: SeLiNnnn
 @Description: Normal stuff. A nice life. Cool flat. Fun job.
 @Date: 2021-05-15 23:46

*/
// config
// _开头的文件不会被编译为css 只能被导入
@import "variables";

// layout
@import "reboot";

@import "mixin";

// btn
@import '../components/Button/style';
// alert
@import "../components/Alert/style";
